.wrapper {
  margin: 16px;
  text-align: left;
  display: flex;
  line-height: 24px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.counter {
  margin-left: 24px;
  font-size: 14px;
  color: #778899;
}