@import '../../styles/colors';

.wrapper {
  -webkit-appearance: none;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  line-height: 20px;

  &.appearance {
    &-default {
      background-color: $light-grey-2;

      &:hover {
        background-color: $light-grey-3;
      }

      &:active {
        background-color: $light-grey-4;
      }
    }

    &-ghost {
      background-color: $transparent;

      &:hover {
        background-color: $light-grey-1;
      }

      &:active {
        background-color: $light-grey-2;
      }
    }
  }

  &:hover {
    background: #E6E9EE;
  }
}