// Primary color
$transparent: transparent;
$white: #FFFFFF;
$black: #000000;

// Light gray
$light-grey-1: #F2F3F5;
$light-grey-2: #E5E7EB;
$light-grey-3: #CCCFD5;
$light-grey-4: #BFC3C7;
$light-grey-5: #AFB4B9;
$light-grey-6: #A2A8AE;
$light-grey-7: #959CA3;
$light-grey-8: #889098;