// Primary color
$transparent: transparent;
$white: #FFFFFF;
$black: #000000;

$primary-blue: #D0D4E4;
$surface-blue: #292f4c;

// Light grey
$light-grey-1: #F2F3F5;
$light-grey-2: #E5E7EB;
$light-grey-3: #D8DBE1;
$light-grey-4: #CBCFD7;
$light-grey-5: #BEC3CD;
$light-grey-6: #B1B7C3;
$light-grey-7: #A4ABB9;
$light-grey-8: #979FAF;

// Dark grey
$dark-grey-1: #0B0C0E;
$dark-grey-2: #16181C;
$dark-grey-3: #21242A;
$dark-grey-4: #2C3038;
$dark-grey-5: #373C48;
$dark-grey-6: #424856;
$dark-grey-7: #4D5464;
$dark-grey-8: #586072;