.wrapper {
  display: flex;
  line-height: 20px;
  border-right: 8px solid #D0D4E4;
  cursor: pointer;

  .status {
    width: 8px;
    margin-right: 2px;
    background: #C4C4C4;
  }

  .name {
    flex: 1;
    padding: 8px;
    background: #F5F6F8;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    .name {
      background: #E6E9EE;
    }
  }
}

