.wrapper {
  display: flex;
  line-height: 20px;
  cursor: pointer;

  .status {
    width: 8px;
    margin-right: 2px;
    background: #C4C4C4;
  }

  .name {
    flex: 1;
    padding: 8px;
    background: #F5F6F8;
  }

  &:hover {
    .name {
      background: #E6E9EE;
    }
  }
}

