.wrapper {
  .header {
    display: flex;

    .title {
      margin: 16px 0;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .extra-content {
      flex: 2
    }
  }
}