.wrapper {
  display: flex;
  line-height: 20px;
  border-right: 8px solid #D0D4E4;
  gap: 2px;

  .status {
    width: 8px;
    margin-right: 2px;
    background: #C4C4C4;
  }

  .cell {
    flex: 1 1;
    padding: 8px;
    background: #F5F6F8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.clickable {
      cursor: pointer;
    }
  }

  &:hover {
    .cell {
      background-color: #E6E9EE;
    }
  }
}