@import '../../../styles/colors';

.wrapper {
  display: flex;
  line-height: 20px;
  border-right: 8px solid $primary-blue;
  gap: 2px;

  .status {
    width: 8px;
    background: $light-grey-4;
  }

  .cell {
    flex: 1 1;
    padding: 8px;
    background: $light-grey-1;
    color: $dark-grey-3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.clickable {
      cursor: pointer;
    }
  }

  &:hover {
    .cell {
      background-color: $light-grey-2;
    }
  }

  .more-button {
    display: flex;
    justify-content: center;
    width: 36px;
  }
}