// Primary background
$primary-bg-1: #02143B;
$primary-bg-2: #EFEFEF;

// Secondary background
$secondary-bg-1: #013B72;
$secondary-bg-2: #011E4D;
$secondary-bg-3: #FFFFFF;

// Text
$primary-text-color-1: #FFFFFF;
$primary-text-color-2: #C0C0C0;
$secondary-text-color-1: #195A8A;

// Border
$border-color: #ECECEC;
$border-radius: 4px;



